{% extends 'base.html'%}
{% load static %}
{% block extrastyles %}
  <link rel="stylesheet" href="{% static 'css\about.css' %}">
{% endblock %}
{% block content %}
  <div class="about-page">
    <div class="heading">
      <h1>About</h1>
    </div>
    <div class="para">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
        e cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupida
        tat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
        e cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupida
        tat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
        e cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupida
        tat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
        e cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupida
        tat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
        e cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupida
        tat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
        e cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupida
        tat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    </div>

  </div>
{% endblock %}
